django>=4.2
djangorestframework
django-cors-headers

openai-whisper
numpy
scipy
ffmpeg-python

requests
python-dotenv

langchain
langchain-community
langchain-core
langgraph

openai
tiktoken

pydantic

clickhouse-driver
clickhouse-connect
