django>=4.2
djangorestframework
django-cors-headers

openai-whisper
numpy
scipy
ffmpeg-python
dagster
redis

requests
python-dotenv
rapidfuzz

langchain
langchain-community
langchain-core
langgraph

openai
tiktoken

pydantic

clickhouse-driver
clickhouse-connect
